@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16;
    box-sizing: border-box;

}



h1,
h3 {
    font-family: "Roboto Condensed";
    color: #3B7087;
    text-transform: uppercase;
}

h1 {
    font-size: 37px;
    word-spacing: 10px;
    font-weight: 300;
}

h2 {
    font-size: 24px;
    font-family: "Noto Serif";
    font-weight: 600;
}

h3 {
    font-size: 20px;
}

h4 {
    font-family: "Noto Serif";
    font-weight: 300;
    font-size: 18px;
}

ul {
    padding-left: 20px;
}

li {
    font-family: "Noto Serif";
}



.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D8E2E7;
    width: 30%;

}



.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.left-text-box {
    margin-top: 30px;
    width: 80%;
}

.left-text-box h3 {
    margin-bottom: 5px;
}


.left-text-box:last-child {
    margin-bottom: 30px;
}

.name-job {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
    padding-top: 5%;
}

.right-text-box {
    margin-bottom: 40px;
}

.right-text-box h3 {
    margin-bottom: 10px;
}

.right-text-box h4 {
    margin-bottom: 5px;
}

.skills ul {
    margin-bottom: 10px;
}